<table id="all_visited_countries"  width="80%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0" border="1">
<tr>
<th align="center">Number of visited countries: <b><%= @visited_countries_size%></b></td>
</tr>
<tr>
<td align="center"><%= button_to 'Add new trip', new_trip_path, :method => 'get' %></td>
</tr>
</table>

<table id="form_trips"  width="80%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0" border="1">
<tr>
<th width="40%" align="center">Trip description</td>
<th align="center"  width="20%" >Trip date</td>
<th align="center"> Visited countries</td>
<th align="center"> Trip status</td>
</tr>
<% @trips.each_with_index do |trip, index| %>
<tr>
<td><%= trip.description %> <%= link_to '>', trip %></td>
<td><%= trip.date %></td>
<td>
<% trip.countries.each_with_index  do |country, index| %>
<%= link_to country.name, country_currencies_path(:id=>country.id) %> 
<% if country.visited %>
		<%= image_tag("icons/status_checked.png",:border=>0, :title=>'visited') %>
	<% else %>
		<%= image_tag("icons/status_shutdown.png",:border=>0, :title=>'not_visited') %>
	<% end %><br />

<% end %>
</td>
<td><%= trip.status %> 
<% if trip.status=='incompleted' %>
	<%=link_to image_tag("icons/button_orange.png",:border=>0, :title=>'to_complete', :id => "to_complete"), update_trip_status_path(:id=>trip.id)%>
<% else %>
	<%= image_tag("icons/status_checked.png",:border=>0, :title=>'completed') %>
<% end %>
</td>
</tr>
<% end %>
</table>




