<table id="form_currencies"  width="80%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0" border="1">
<tr>
<th width="20%" align="center">ISO</td>
<th align="center">Currency name (not visited / all countries)
<font size="1"><%= @toggle %>
<%= link_to 'View not visited', currencies_path(:view_visited=>true), :method => 'get' %></font>
</td>
<th width="20%" align="center">Collected?</td>
</tr>
<% @currencies.each_with_index do |currency, index| %>
<% next if currency.name.empty? %>
<tr>
<td><%= link_to currency.currencycode, currency_countries_path(:currencycode=>currency.currencycode) %>
(<%= @not_visited_countries_by_currencycode["#{currency.currencycode}"] %>/<%= @countries_by_currencycode["#{currency.currencycode}"] %>)

 </td><td><%= link_to currency.name, currency_countries_path(:name=>currency.name) %>
 (<%= @not_visited_countries_by_currencyname["#{currency.name}"] %>/<%= @countries_by_currencyname["#{currency.name}"] %>)
 
 </td>
 <td><% if currency.collected %>
		<%= image_tag("icons/status_checked.png",:border=>0, :title=>'visited') %>
	<% else %>
		<%= image_tag("icons/status_shutdown.png",:border=>0, :title=>'not_visited') %>
	<% end %>
 </td>
</tr>
<% end %>
</table>


