<!DOCTYPE html>
<html>
<head>
  <title>Smartset</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
<h1><%= link_to "Smartset", root_path, :class => 'someclass' -%></h1>
<%= yield %>

</body>
</html>
